clipit/
cmst/
geany/
gtk-3.0/
kickstart.nvim/
mc/
qt5ct/
rox.sourceforge.net/
roxterm.sourceforge.net/
wingrid/
xresources.d/
zzzfm/
fancy-prompts-bash.conf
mimeapps.list
slimski.lastused
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yad.conf
